@import 'tailwindcss';

body {
    background-color: #f7f4ed;
}

/* Di global CSS atau module CSS */
.dialog-animation {
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.dialog-animation[data-state='open'] {
  opacity: 1;
  transform: scale(1);
}

.dialog-animation[data-state='closed'] {
  opacity: 0;
  transform: scale(0.95);
}
